.garamond{
  font-family: 'Garamond', serif;
}

.title{
  font-size: 2em;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0;
}

.subtitle{
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0;
}

.palatino{
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}

.fira-sans{
  font-family: 'Fira Sans', sans-serif;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
}

.picture-size{
  width: 20rem;
  height: 20rem;
}

.logo-pos{
  margin-top: -7rem;
  margin-left: auto;
  margin-right: auto;
}
